header {
  border-bottom: solid 4px var(--secondary);
  transition: ease-in-out 0.5s;
}

header:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 2);
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--headline);
}

a.logo {
  color: var(--paragraph);
  font-weight: 800;
  margin: 0px;
  padding: 25px;
  transition: ease-in-out 0.3s;
}

a.logo:hover {
  background-color: var(--background);
  color: var(--headline);
}

img {
  padding: 10px;
  height: 75px;
  transition: ease-in-out 0.3s;
}

img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
