section {
  margin: 2rem 3rem 44rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1vw;
  align-items: start;
}

ul {
  border: 2px solid var(--headline);
  background-color: var(--paragraph);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--button-text);
}

.card {
  display: flex;
  flex-direction: row;
  margin: 20px 35px 20px 0px;
  align-items: center;
  padding: 20px 0 20px 0;
  border-radius: 12px;
  justify-content: space-between;
}

.card > * {
  flex: 1;
  margin: 0 50px;
}

.img-wrapper {
  width: 6rem;
  height: 6rem;
  border-radius: 50rem;
  overflow: hidden;
}

.img-tag {
  background: repeating-linear-gradient(
    45deg,
    var(--paragraph),
    var(--paragraph) 10px,
    var(--headline) 10px,
    var(--paragraph) 40px
  );
  width: 5vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  object-fit: contain;
  border-radius: 5px;
  border: 2px solid var(--headline);
  box-shadow: 1px 2px 2px var(--button-text);
  transition: 0.2s ease-in-out;
}

.img-tag:hover {
  transform: scale(1.05);
}

.remove-button {
  font-size: 2rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 1.5rem;
  max-height: 1.5rem;
  border-radius: 50%;
  padding: 0px 0.8px 3px 0px;
  transition: 0.5s ease-in-out;
}

.remove-button:hover {
  background-color: var(--headline);
  color: var(--button-text);
  cursor: pointer;
}

.checkout {
  border: 2px solid var(--headline);
  border-radius: 0.5rem;
  padding: 2vw;
  background-color: var(--paragraph);
  box-shadow: 0 0 20px var(--button-text);
  margin-top: 17px;
  align-self: start;
}

.figers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.empty-cart {
  border-radius: 0.5rem;
  flex: max-content;
  display: flex;
  align-items: center;
  padding: 0 2vw 0 2vw;
  font-size: 20px;
}

.selectClass {
  background-color: var(--highlight);
  border: thin solid var(--headline);
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 1em 0.5em 1em;
  box-shadow: 1px 2px 2px var(--button-text);
}

.total-price {
  font-weight: 800;
  color: var(--button-text);
}

@media screen and (max-width: 1400px) {
  section {
    margin: 2rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    box-shadow: 0 0 20px var(--button-text);
  }
  .img-tag {
    width: 20vw;
    height: 20vw;
    align-self: center;
  }
  .checkout {
    align-self: center;
  }
}
