section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 11rem 2rem 11rem;
}

section > * {
  min-width: 28rem;
  max-width: 50rem;
}

.card {
  background-color: var(--paragraph);
  display: flex;
  flex-direction: row;
  place-content: center;
  border: 3px solid var(--highlight);
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 0 20px var(--button-text);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  text-align: center;
  padding: 2rem;
  color: black;
}

h1 {
  margin: 7px 5px;
  display: flex;
  justify-content: center;
  padding: 0px 80px;
}

.tags {
  display: flex;
  flex-direction: column;
  margin: 15px auto 0px;
  gap: 0.8rem;
}

.tag-item {
  margin: auto;
  color: var(--headline);
  background: var(--highlight);
  box-shadow: 1px 2px 2px var(--button-text);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  transition: 0.5s ease-in-out;
}

.tag-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button-add {
  color: var(--headline);
  background: var(--highlight);
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 0px 10px;
  border-radius: 10rem;
  outline: none;
  transition: 0.5s ease-in-out;
}

.button-add:hover {
  background-color: var(--tertiary);
  transform: scale(1.1);
  box-shadow: 0 0 20px var(--button-text);
  cursor: pointer;
}

.img-tag {
  background: repeating-linear-gradient(
    45deg,
    var(--paragraph),
    var(--paragraph) 10px,
    var(--headline) 10px,
    var(--paragraph) 40px
  );
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  overflow: hidden;
  border: 4px solid var(--headline);
  padding: 15px;
  box-shadow: 1px 2px 2px var(--button-text);
  transition: 0.5s ease-in-out;
}

.img-tag:hover {
  border: 2px solid var(--highlight);
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .card {
    flex-direction: column;
  }
  .img-tag {
    width: 100%;
  }
  .text-header,
  .tags {
    margin: 0px auto;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}
