<ul>
  <li *ngFor="let filter of filters">
    <a>
      <img src="{{ filter.imageUrl }}" alt="" />
      <div class="content">
        <div class="name">
          {{ filter.name }}
        </div>
        <span class="favorite {{ filter.favorite ? '' : 'not' }}"> ❤️ </span>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of filter.origins">
              {{ origin }}
            </span>
          </div>
        </div>
      </div>
    </a>
  </li>
</ul>
