section {
  margin: 25px 40px;
}

ul {
  display: grid;
  padding-right: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

ul li {
  background: linear-gradient(180deg, var(--paragraph) 70%, var(--background));
  border-radius: 0.5rem;
  border: 3px solid var(--headline);
  box-shadow: 0 0 20px var(--button-text);
  overflow: hidden;
}

li a img {
  transition: ease-in-out 0.8s;
}

li a:hover {
  transform: scale(1.2);
}

ul li .img {
  background: repeating-linear-gradient(
    45deg,
    var(--paragraph),
    var(--paragraph) 10px,
    var(--headline) 10px,
    var(--paragraph) 40px
  );
  margin: 20px;
  height: 18rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  border: 4px solid var(--headline);
  box-shadow: 1px 2px 2px var(--button-text);
  transition: ease-in-out 0.3s;
}

ul li .img:hover {
  transform: scale(1.04);
}

li .card-content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  gap: 0.5rem;
  color: var(--button-text);
}

.origins {
  font-size: 14px;
  font-style: italic;
}

p {
  color: var(--background);
  font-weight: 800;
  font-size: 22px;
}

li .card-header {
  display: flex;
  justify-content: space-between;
}

li .card-title {
  color: var(--stroke);
  font-size: 18px;
  transition: ease-in-out 0.5s;
  text-underline-offset: 4px;
}

li .card-title:hover {
  text-decoration: var(--headline) underline;
}

li .favorite {
  color: var(--tertiary);
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.tag-item {
  text-align: center;
  background-color: var(--highlight);
  color: var(--headline);
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 1px 2px 2px var(--button-text);
  transition: 0.5s ease-in-out;
}

.tag-item:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1200px) {
  ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1024px) {
  ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  ul {
    grid-template-columns: 1fr;
  }
}
