<section>
  <app-search [searchTerm]="searchTerm" />
  <ul>
    @for (filter of filters; track filter.id) {
    <li>
      <a routerLink="/filter/{{ filter.id }}">
        <div class="img">
          <img [src]="filter.imageUrl" [alt]="filter.name" />
        </div>

        <div class="card-content">
          <div class="card-header">
            <div>
              <h4 class="card-title">{{ filter.name }}</h4>
              <div class="origins">
                {{ filter.descriptor }}
              </div>
              <p>{{ filter.price | currency }}</p>
            </div>
            <span class="{{ filter.favorite ? 'favorite' : '' }}"> ❤ </span>
          </div>

          <div>
            <div class="tags">
              @for(tag of filter.tags; track tag) {
              <span class="tag-item">{{ tag }}</span>
              }
            </div>
          </div>
        </div>
      </a>
    </li>
    }
  </ul>
</section>
